---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <!-- <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption>
    </figure> -->
    <p>I'm Michael, an accomplished tech lead with <a target="_blank" href="https://www.linkedin.com/in/manderjaska/"><b>5 years of experience</b></a>.
      I've worked with startups of every size, some of which were funded by <a target="_blank" href="https://techcrunch.com/2023/03/28/turntable-live-nee-tt-fm-raises-7m-ahead-of-public-launch/"><b>Founder's Fund</b></a> 
      and <a target="_blank" href="https://techcrunch.com/2022/04/21/opendoor-alums-raise-7-75m-for-kindred-a-home-swapping-network-it-says-makes-travel-dramatically-more-affordable/"><b>A16Z</b></a>.
    </p>
    
    <p>At my last role at <a target="_blank" href="https://seam.co"><b>Seam</b></a>, I spearheaded the <b><a target="_blank" href="https://www.seam.co/thermostats">Thermostat API</a></b> and personally onboarded new customers to the product.</p>

    <p>When I'm deciding what to work on, I ask myself <b>"What can I do today that delivers real value?"</b> and do just that. That can mean spinning up a k8s cluster or hand-holding a customer through onboarding.</p>
      
    <p> I believe that great engineers focus less on perfect syntax and more on <b>delivering value to customers</b>. Engineers have to remember that they're not paid to code, they're paid to make money </p>

    <p>If you agree with this, <b><a target="_blank", href="https://www.linkedin.com/in/manderjaska/">definitely get in touch with me</a></b></p>

    <p>- Michael </p>

  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
